h1, h2, h3, p {
    color: #707070;
}

#about, #skills, #works, #hobbys, #contact {
    padding-top: 30px;
    padding-bottom: 50px;
    opacity: 0;
} 

  .vue-typer .custom.char.typed {
    color: #707070;
  }

 h1 {
     font-size: 4rem;
     @include media() {
         font-size: 2rem;
     }
 }

 * {
     padding: 0;
 }

 @keyframes rocking {
    0%, 100% {transform: rotateZ(-10deg);}
    50%     {transform: rotateZ(10deg);}
 }

 .vue-typer .custom.caret {
    animation: rocking 1s ease-in-out 0s infinite;
  }