h1, h2, h3, p {
    color: #707070;
}

#about, #skills, #works, #hobbys, #contact {
    padding-top: 70px;
    padding-bottom: 70px;
} 

  .vue-typer .custom.char.typed {
    color: #707070;
  }

 h1 {
     font-size: 4rem;
     @include media() {
         font-size: 2rem;
     }
 }